.carta{
    width: 500px;
    height: 560px;
    display: block;
    border: 1px solid white;
}

.carta-img{
    width: 498px;
    height: 300px;
}

.carta-titulo{
    margin-top: 20px;
    color: royalblue;
    text-align: center;
}

.carta-descrip{
    color: white;
    padding-right: 5px;
    padding-left: 15px;
}

.lens-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    width: auto;
}

li{
    color: white;
    padding: 5px;
    width: auto;
    margin-right: 5px;
}

.html{
    background-color: rgb(224, 68, 20);
}

.css{
    background-color: rgb(19, 113, 221);
}

.react{
    background-color: rgb(32, 37, 37);
}

.bootstrap{
    background-color: rgb(119, 118, 117);
}

.opciones-pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-pagina img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.link-pagina img:hover{
    background-color: rgba(255, 255, 255, 0.651);
}

.github-repositorio img:hover{
    background-color: rgba(255, 255, 255, 0.651) ;
}

.github-repositorio img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}